- var str1 = _t('str1')
- var str2 = _t("str2")
- var str3 = str1 || _t('"str3"')
- var str4 = str2 && _t("'str4'")
- var strMap = {a: _t('a'), b: _t('b'), c: _t('c')}
- var strArr = [_t('Lorem ipsum dolor elit'), _t('Quo studio Aristophanem?'), _t("Magni enim leges, sed legibus partam")]
- var ignore = 'this should not be include'