span
  strong testing
  | really
  strong annoying
  | pipes
  strong with #{annoying}
  | interpolations annoying
  a(title=course.get('signatureTrackStatus')['signature_track_duration_left']) #{course.get('signatureTrackStatus')['signature_track_duration_left']} left
